.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #06679a;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Crew-filters {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Crew-filters input {
  margin-left: 10px;
  padding: 5px;
}

.Crew-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.Crew-statuses {
  display: flex;
  flex: .8;
  flex-direction: row;
  justify-content: space-around;
}

.Crew-column {
  flex: 1;
  border: 1px solid #06679a;
}

.Personnel-list {
  list-style-type : none;
  padding: 10px;
}

.Personnel-card {
  border: 2px solid #06679a;
  margin-bottom: 10px;
  padding: 15px;
}

.Personnel-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Personnel-info * {
  margin: 0;
  text-align: right;
}

.Status-actions {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.Status-action {
  padding: 5px;
}

